
#stacks_out_74_page7 {
	width: 89%;
}

#stacks_in_74_page7 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_76_page7 .stacks_left {
	float:left;
	width:49%;
}

#stacks_in_76_page7 .stacks_right {
	float:right;
	width:49%;
}
#stacks_out_78_page7 {
	width: 80%;
}

#stacks_in_78_page7 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_out_81_page7 {
	width: 80%;
	margin-left:0;
}

#stacks_in_81_page7 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_76_page7 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_83_page7 {
	margin: 2px 2px 2px 2px;
	padding: 12px 12px 12px 12px;
}

#stacks_out_72_page7 {
	margin-right:0;
}
