
#stacks_in_47_page6 .stacks_left {
	float:left;
	width:49%;
}

#stacks_in_47_page6 .stacks_right {
	float:right;
	width:49%;
}
#stacks_out_49_page6 {
	width: 80%;
}

#stacks_in_49_page6 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_out_51_page6 {
	width: 80%;
}

#stacks_in_51_page6 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_out_54_page6 {
	width: 80%;
}

#stacks_in_54_page6 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_out_58_page6 {
	width: 80%;
	margin-left:0;
}

#stacks_in_58_page6 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_out_60_page6 {
	width: 80%;
	margin-left:0;
}

#stacks_in_60_page6 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_47_page6 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_62_page6 .stacks_left {
	float:left;
	width:49%;
}

#stacks_in_62_page6 .stacks_right {
	float:right;
	width:49%;
}
#stacks_out_64_page6 {
	width: 80%;
}

#stacks_in_64_page6 {
	margin: 3px 3px 3px 3px;
	padding: 5px 5px 5px 5px;
}

#stacks_out_66_page6 {
	width: 80%;
}

#stacks_in_66_page6 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_out_69_page6 {
	width: 80%;
	margin-left:0;
}

#stacks_in_69_page6 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_62_page6 {
	margin: 2px 2px 2px 2px;
	padding: 15px 5px 30px 5px;
}

#stacks_out_45_page6 {
	margin-right:0;
}
