<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DigestAlgorithm</key>
	<string>MD5</string>
	<key>Pages</key>
	<dict>
		<key>rw:theme:playmore</key>
		<dict>
			<key>CreationDate</key>
			<date>2010-12-16T05:26:20Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>F4129AA9-B1DC-468A-ACA7-8151359577D3</string>
			<key>PageDigests</key>
			<dict>
				<key>css/colourtag-page6.css</key>
				<dict>
					<key>Digest</key>
					<data>
					EkMPmu+CRxxYIhFAY+7Seg==
					</data>
					<key>Size</key>
					<integer>4557</integer>
				</dict>
				<key>css/colourtag.css</key>
				<dict>
					<key>Digest</key>
					<data>
					wiZA8fCGRh0j86AKrgckog==
					</data>
					<key>Size</key>
					<integer>4557</integer>
				</dict>
				<key>css/customheader/header1.css</key>
				<dict>
					<key>Digest</key>
					<data>
					UksSlQy35ZYTw9poQ0kpJg==
					</data>
					<key>Size</key>
					<integer>92</integer>
				</dict>
				<key>css/customheader/header10.css</key>
				<dict>
					<key>Digest</key>
					<data>
					vIKAzZKsFpsiqt2YoSiAyg==
					</data>
					<key>Size</key>
					<integer>93</integer>
				</dict>
				<key>css/customheader/header2.css</key>
				<dict>
					<key>Digest</key>
					<data>
					UsbomxvssgZiF/0L8eSVAw==
					</data>
					<key>Size</key>
					<integer>92</integer>
				</dict>
				<key>css/customheader/header3.css</key>
				<dict>
					<key>Digest</key>
					<data>
					lHc3BafmPlpY7gwbqLM+6Q==
					</data>
					<key>Size</key>
					<integer>92</integer>
				</dict>
				<key>css/customheader/header4.css</key>
				<dict>
					<key>Digest</key>
					<data>
					dnlyck9N1zTeQjXUBYk1vQ==
					</data>
					<key>Size</key>
					<integer>92</integer>
				</dict>
				<key>css/customheader/header5.css</key>
				<dict>
					<key>Digest</key>
					<data>
					5qo1mizceDmRb4BNskXJyg==
					</data>
					<key>Size</key>
					<integer>92</integer>
				</dict>
				<key>css/customheader/header6.css</key>
				<dict>
					<key>Digest</key>
					<data>
					8qIpRir0aLhssabO0VtS4A==
					</data>
					<key>Size</key>
					<integer>92</integer>
				</dict>
				<key>css/customheader/header7.css</key>
				<dict>
					<key>Digest</key>
					<data>
					fEQ+CW6ygpcMqZoW/L2YfQ==
					</data>
					<key>Size</key>
					<integer>92</integer>
				</dict>
				<key>css/customheader/header8.css</key>
				<dict>
					<key>Digest</key>
					<data>
					X3m+pKMcv8DB6ipU0XoK0A==
					</data>
					<key>Size</key>
					<integer>92</integer>
				</dict>
				<key>css/customheader/header9.css</key>
				<dict>
					<key>Digest</key>
					<data>
					TAzskOjJmD83sHUnmt+fJg==
					</data>
					<key>Size</key>
					<integer>92</integer>
				</dict>
				<key>css/fontsize/large.css</key>
				<dict>
					<key>Digest</key>
					<data>
					KekmxlKni7aeqMl5Z4g7yQ==
					</data>
					<key>Size</key>
					<integer>25</integer>
				</dict>
				<key>css/fontsize/medium.css</key>
				<dict>
					<key>Digest</key>
					<data>
					gfslnBHdMiveW5CzGJJ8rg==
					</data>
					<key>Size</key>
					<integer>25</integer>
				</dict>
				<key>css/fontsize/small.css</key>
				<dict>
					<key>Digest</key>
					<data>
					Be8YSL5hIrk2LR3jvJ8qzg==
					</data>
					<key>Size</key>
					<integer>25</integer>
				</dict>
				<key>css/fontstyle/arial.css</key>
				<dict>
					<key>Digest</key>
					<data>
					xh+9cvp4m/Rh6pgGngBZyg==
					</data>
					<key>Size</key>
					<integer>52</integer>
				</dict>
				<key>css/fontstyle/georgia.css</key>
				<dict>
					<key>Digest</key>
					<data>
					W+gDvpzURdA1azTsbjgL/w==
					</data>
					<key>Size</key>
					<integer>80</integer>
				</dict>
				<key>css/fontstyle/helvetica.css</key>
				<dict>
					<key>Digest</key>
					<data>
					EI9CQOfh222DjpmSZnIZ6w==
					</data>
					<key>Size</key>
					<integer>52</integer>
				</dict>
				<key>css/fontstyle/lucidagrande.css</key>
				<dict>
					<key>Digest</key>
					<data>
					WuyW9Wg3jSE+ljiOVsA5Vg==
					</data>
					<key>Size</key>
					<integer>136</integer>
				</dict>
				<key>css/fontstyle/myriadweb.css</key>
				<dict>
					<key>Digest</key>
					<data>
					VsxMYAuBeF1Njl5yB1qZMA==
					</data>
					<key>Size</key>
					<integer>114</integer>
				</dict>
				<key>css/fontstyle/old_font_stacks/arial.css</key>
				<dict>
					<key>Digest</key>
					<data>
					Zx2sGw3JN7vH1BzFmLCo8g==
					</data>
					<key>Size</key>
					<integer>100</integer>
				</dict>
				<key>css/fontstyle/old_font_stacks/georgia.css</key>
				<dict>
					<key>Digest</key>
					<data>
					W+gDvpzURdA1azTsbjgL/w==
					</data>
					<key>Size</key>
					<integer>80</integer>
				</dict>
				<key>css/fontstyle/old_font_stacks/helvetica.css</key>
				<dict>
					<key>Digest</key>
					<data>
					1zRVilLM3PDyC2/DnaTjDA==
					</data>
					<key>Size</key>
					<integer>100</integer>
				</dict>
				<key>css/fontstyle/old_font_stacks/lucidagrande.css</key>
				<dict>
					<key>Digest</key>
					<data>
					KVt96yYLKvRKoEhw8jFW/Q==
					</data>
					<key>Size</key>
					<integer>100</integer>
				</dict>
				<key>css/fontstyle/old_font_stacks/myriadweb.css</key>
				<dict>
					<key>Digest</key>
					<data>
					VsxMYAuBeF1Njl5yB1qZMA==
					</data>
					<key>Size</key>
					<integer>114</integer>
				</dict>
				<key>css/fontstyle/old_font_stacks/times.css</key>
				<dict>
					<key>Digest</key>
					<data>
					KewD/JdAVzVIjSPwNMZgdQ==
					</data>
					<key>Size</key>
					<integer>80</integer>
				</dict>
				<key>css/fontstyle/old_font_stacks/trebuchetms.css</key>
				<dict>
					<key>Digest</key>
					<data>
					UIAhS5tRWKoIqAtwdYHZng==
					</data>
					<key>Size</key>
					<integer>80</integer>
				</dict>
				<key>css/fontstyle/times.css</key>
				<dict>
					<key>Digest</key>
					<data>
					KewD/JdAVzVIjSPwNMZgdQ==
					</data>
					<key>Size</key>
					<integer>80</integer>
				</dict>
				<key>css/fontstyle/trebuchetms.css</key>
				<dict>
					<key>Digest</key>
					<data>
					ijQG9i0DWBwNL8zgjOG/OQ==
					</data>
					<key>Size</key>
					<integer>113</integer>
				</dict>
				<key>css/handheld.css</key>
				<dict>
					<key>Digest</key>
					<data>
					1B2M2Y8AsgTpgAmY7PhCfg==
					</data>
					<key>Size</key>
					<integer>0</integer>
				</dict>
				<key>css/headercontent/hide.css</key>
				<dict>
					<key>Digest</key>
					<data>
					igtZG/vNBrcan1SU642maA==
					</data>
					<key>Size</key>
					<integer>36</integer>
				</dict>
				<key>css/headercontent/left.css</key>
				<dict>
					<key>Digest</key>
					<data>
					OBuJLDY0PLT+QPXH/uMzcA==
					</data>
					<key>Size</key>
					<integer>34</integer>
				</dict>
				<key>css/headercontent/right.css</key>
				<dict>
					<key>Digest</key>
					<data>
					vUC679HzSbiJW4v2t4jA4A==
					</data>
					<key>Size</key>
					<integer>35</integer>
				</dict>
				<key>css/headerheight/medium.css</key>
				<dict>
					<key>Digest</key>
					<data>
					OoyMEXvvadocu+awhAIZEw==
					</data>
					<key>Size</key>
					<integer>34</integer>
				</dict>
				<key>css/headerheight/short.css</key>
				<dict>
					<key>Digest</key>
					<data>
					3z3ER2A9PO8jj8ca4nQszQ==
					</data>
					<key>Size</key>
					<integer>33</integer>
				</dict>
				<key>css/headerheight/tall.css</key>
				<dict>
					<key>Digest</key>
					<data>
					M8JwhbAhgxgC9vgUcjs42g==
					</data>
					<key>Size</key>
					<integer>34</integer>
				</dict>
				<key>css/headerwidth/100.css</key>
				<dict>
					<key>Digest</key>
					<data>
					vRZ0yAoy7Ng5wPONGeTp9g==
					</data>
					<key>Size</key>
					<integer>34</integer>
				</dict>
				<key>css/headerwidth/25.css</key>
				<dict>
					<key>Digest</key>
					<data>
					14QcLGHnbHoGamMGW4Yiag==
					</data>
					<key>Size</key>
					<integer>33</integer>
				</dict>
				<key>css/headerwidth/33.css</key>
				<dict>
					<key>Digest</key>
					<data>
					Cey8Jc/j6eT46pqd97gDjQ==
					</data>
					<key>Size</key>
					<integer>33</integer>
				</dict>
				<key>css/headerwidth/50.css</key>
				<dict>
					<key>Digest</key>
					<data>
					9kviDCGwb5muzk2Hqst3dg==
					</data>
					<key>Size</key>
					<integer>33</integer>
				</dict>
				<key>css/headerwidth/66.css</key>
				<dict>
					<key>Digest</key>
					<data>
					lvKoAA0i+ZN0wiSDBpFX9w==
					</data>
					<key>Size</key>
					<integer>33</integer>
				</dict>
				<key>css/headerwidth/75.css</key>
				<dict>
					<key>Digest</key>
					<data>
					eLRmDVb4jfQ7Oh/6q655aA==
					</data>
					<key>Size</key>
					<integer>33</integer>
				</dict>
				<key>css/ie6.css</key>
				<dict>
					<key>Digest</key>
					<data>
					V7n/qRpi+STRMjlHOYP4pQ==
					</data>
					<key>Size</key>
					<integer>287</integer>
				</dict>
				<key>css/ie7.css</key>
				<dict>
					<key>Digest</key>
					<data>
					q6qh/1KNCM3OD20IsBEnRw==
					</data>
					<key>Size</key>
					<integer>275</integer>
				</dict>
				<key>css/ie8.css</key>
				<dict>
					<key>Digest</key>
					<data>
					1B2M2Y8AsgTpgAmY7PhCfg==
					</data>
					<key>Size</key>
					<integer>0</integer>
				</dict>
				<key>css/print.css</key>
				<dict>
					<key>Digest</key>
					<data>
					ThLHAMSJUucAMlDGYnkAFA==
					</data>
					<key>Size</key>
					<integer>14849</integer>
				</dict>
				<key>css/sidebarcontent/hide.css</key>
				<dict>
					<key>Digest</key>
					<data>
					2iekLJ0rc2vASfliAPFo4Q==
					</data>
					<key>Size</key>
					<integer>96</integer>
				</dict>
				<key>css/sidebarcontent/left.css</key>
				<dict>
					<key>Digest</key>
					<data>
					HT/+rivnChRyClsIVbh4AQ==
					</data>
					<key>Size</key>
					<integer>104</integer>
				</dict>
				<key>css/sidebarcontent/right.css</key>
				<dict>
					<key>Digest</key>
					<data>
					98sFQNcwsNJ+lMzLFDauiA==
					</data>
					<key>Size</key>
					<integer>105</integer>
				</dict>
				<key>css/subcontent/hide.css</key>
				<dict>
					<key>Digest</key>
					<data>
					hVHiSHqUgIUFVKYNzBPdHQ==
					</data>
					<key>Size</key>
					<integer>97</integer>
				</dict>
				<key>css/subcontent/show.css</key>
				<dict>
					<key>Digest</key>
					<data>
					ru3DUh2BvZBg9X7hvH6MOw==
					</data>
					<key>Size</key>
					<integer>16</integer>
				</dict>
				<key>css/subheader/accent.css</key>
				<dict>
					<key>Digest</key>
					<data>
					YnG6p++/R1Ts4NebWsCWSQ==
					</data>
					<key>Size</key>
					<integer>83</integer>
				</dict>
				<key>css/subheader/hide.css</key>
				<dict>
					<key>Digest</key>
					<data>
					rOTC3sNu4BkjIhnLEyCcyw==
					</data>
					<key>Size</key>
					<integer>56</integer>
				</dict>
				<key>css/subheader/show.css</key>
				<dict>
					<key>Digest</key>
					<data>
					oGeRxjw538MK44mSIhHuRA==
					</data>
					<key>Size</key>
					<integer>15</integer>
				</dict>
				<key>css/width/medium-narrow.css</key>
				<dict>
					<key>Digest</key>
					<data>
					STWM7z0ZhItQDJGoeTAJzA==
					</data>
					<key>Size</key>
					<integer>29</integer>
				</dict>
				<key>css/width/medium-wide.css</key>
				<dict>
					<key>Digest</key>
					<data>
					mfmOb7kKlQ/kEEYO5JEyrA==
					</data>
					<key>Size</key>
					<integer>29</integer>
				</dict>
				<key>css/width/medium.css</key>
				<dict>
					<key>Digest</key>
					<data>
					t4IfTWjHMklvYTCWu08ySQ==
					</data>
					<key>Size</key>
					<integer>29</integer>
				</dict>
				<key>css/width/narrow.css</key>
				<dict>
					<key>Digest</key>
					<data>
					M7rq7nIl+TcPHTYaGQbHKQ==
					</data>
					<key>Size</key>
					<integer>29</integer>
				</dict>
				<key>css/width/wide.css</key>
				<dict>
					<key>Digest</key>
					<data>
					IA/7MLFKj6kLZbMOwkb6+w==
					</data>
					<key>Size</key>
					<integer>30</integer>
				</dict>
				<key>images/bg_content.png</key>
				<dict>
					<key>Digest</key>
					<data>
					fmbuQObJzeTxbbmHCNWctg==
					</data>
					<key>Size</key>
					<integer>382</integer>
				</dict>
				<key>images/bg_footer.png</key>
				<dict>
					<key>Digest</key>
					<data>
					5XwBkwmsqr3vAQ7+KMNgBw==
					</data>
					<key>Size</key>
					<integer>261</integer>
				</dict>
				<key>images/bg_nav.png</key>
				<dict>
					<key>Digest</key>
					<data>
					lSvn+BdYUxcQhTs4CaHv4g==
					</data>
					<key>Size</key>
					<integer>276</integer>
				</dict>
				<key>images/bg_subcontent.png</key>
				<dict>
					<key>Digest</key>
					<data>
					76k6Ygltzip494fPoHLyWA==
					</data>
					<key>Size</key>
					<integer>407</integer>
				</dict>
				<key>images/blank.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					VjmOdr5jVa1ZmbJiIIoXyQ==
					</data>
					<key>Size</key>
					<integer>49</integer>
				</dict>
				<key>images/category.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					iShzjcieK8aPXd4qWTRznw==
					</data>
					<key>Size</key>
					<integer>118</integer>
				</dict>
				<key>images/editable_images/header1.png</key>
				<dict>
					<key>Digest</key>
					<data>
					MXI1LVtzqVpZTjGYOvny0Q==
					</data>
					<key>Size</key>
					<integer>189429</integer>
				</dict>
				<key>images/editable_images/header10.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					YHJw5STrCdwCwsV5zLg51w==
					</data>
					<key>Size</key>
					<integer>36169</integer>
				</dict>
				<key>images/editable_images/header2.png</key>
				<dict>
					<key>Digest</key>
					<data>
					VA9Vp5/OiNLjNXU/1BFNYg==
					</data>
					<key>Size</key>
					<integer>184723</integer>
				</dict>
				<key>images/editable_images/header3.png</key>
				<dict>
					<key>Digest</key>
					<data>
					Hb2zFGbyufX6deiKuBIPcQ==
					</data>
					<key>Size</key>
					<integer>96274</integer>
				</dict>
				<key>images/editable_images/header4.png</key>
				<dict>
					<key>Digest</key>
					<data>
					xMeiqAdRUOwv6qPj1QQK1w==
					</data>
					<key>Size</key>
					<integer>82805</integer>
				</dict>
				<key>images/editable_images/header5.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					Icsr4aVceIHjbhj0+jnq1Q==
					</data>
					<key>Size</key>
					<integer>55077</integer>
				</dict>
				<key>images/editable_images/header6.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					2bGbpI/Z9cUQdlakL1SJQQ==
					</data>
					<key>Size</key>
					<integer>31324</integer>
				</dict>
				<key>images/editable_images/header7.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					mZrGmLPXEOKhgDW+5bp4zg==
					</data>
					<key>Size</key>
					<integer>41290</integer>
				</dict>
				<key>images/editable_images/header8.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					nM5Filen3csmwjiWYahlpg==
					</data>
					<key>Size</key>
					<integer>47239</integer>
				</dict>
				<key>images/editable_images/header9.jpg</key>
				<dict>
					<key>Digest</key>
					<data>
					JF7XtrvuYgJ1XmF+rZBMwg==
					</data>
					<key>Size</key>
					<integer>29754</integer>
				</dict>
				<key>javascript.js</key>
				<dict>
					<key>Digest</key>
					<data>
					n0dN9DfVcKHYMmVnniBKtw==
					</data>
					<key>Size</key>
					<integer>14608</integer>
				</dict>
				<key>release.txt</key>
				<dict>
					<key>Digest</key>
					<data>
					l+TEbRXCEXexkWTekWBsVw==
					</data>
					<key>Size</key>
					<integer>4326</integer>
				</dict>
				<key>scripts/extracontent.js</key>
				<dict>
					<key>Digest</key>
					<data>
					uznJqPzIvWoPok04O8MNOg==
					</data>
					<key>Size</key>
					<integer>227</integer>
				</dict>
				<key>scripts/iepngfix.htc</key>
				<dict>
					<key>Digest</key>
					<data>
					VWVTLfaG1TtfBsiB7R/jHQ==
					</data>
					<key>Size</key>
					<integer>3032</integer>
				</dict>
				<key>scripts/iepngfix_V2.htc</key>
				<dict>
					<key>Digest</key>
					<data>
					le2UzlZUT+zKQ33JURcsHQ==
					</data>
					<key>Size</key>
					<integer>5293</integer>
				</dict>
				<key>scripts/iepngfix_V2_tilebg.js</key>
				<dict>
					<key>Digest</key>
					<data>
					94Si39DtU8efvY+htlnBSA==
					</data>
					<key>Size</key>
					<integer>4275</integer>
				</dict>
				<key>scripts/jquery.js</key>
				<dict>
					<key>Digest</key>
					<data>
					uzgeLRnY6s6Gs00gdZSRpQ==
					</data>
					<key>Size</key>
					<integer>57254</integer>
				</dict>
				<key>styles.css</key>
				<dict>
					<key>Digest</key>
					<data>
					+CWEkDGwmkQOwDcWMJ60oA==
					</data>
					<key>Size</key>
					<integer>19363</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>rw:theme:playmore</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>Version</key>
	<integer>3</integer>
</dict>
</plist>
