
#stacks_in_3_page0 .stacks_left {
	float:left;
	width:25%;
}

#stacks_in_3_page0 .stacks_right {
	float:right;
	width:25%;
}

#stacks_in_3_page0 .stacks_middle {
	position:relative;
	margin:0 auto;
	width:46%;
}
#stacks_out_5_page0 {
	margin-right:0;
}

#stacks_in_5_page0 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_out_8_page0 {
	width: 95%;
}

#stacks_in_8_page0 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_out_10_page0 {
	width: 95%;
}

#stacks_in_10_page0 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_out_13_page0 {
	margin-left:0;
}

#stacks_in_13_page0 {
	padding: 9px 9px 9px 9px;
}

#stacks_in_15_page0 .stacks_left {
	float:left;
	width:49%;
}

#stacks_in_15_page0 .stacks_right {
	float:right;
	width:49%;
}
#stacks_out_17_page0 {
	margin-right:0;
}

#stacks_in_17_page0 {
	padding: 6px 6px 6px 6px;
}

#stacks_out_20_page0 {
	width: 90%;
	margin-left:0;
}

#stacks_in_20_page0 {
	margin: 2px 2px 2px 2px;
	padding: 12px 12px 12px 12px;
}

#stacks_in_15_page0 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_out_3_page0 {
	width: 95%;
}

#stacks_in_3_page0 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_out_1_page0 {
	margin-right:0;
}

#stacks_in_24_page0 .stacks_left {
	float:left;
	width:32%;
}

#stacks_in_24_page0 .stacks_right {
	float:right;
	width:32%;
}

#stacks_in_24_page0 .stacks_middle {
	position:relative;
	margin:0 auto;
	width:32%;
}
#stacks_in_26_page0 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_29_page0 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_out_32_page0 {
	width: 68%;
}

#stacks_in_32_page0 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_out_24_page0 {
	width: 90%;
}

#stacks_in_34_page0 .stacks_left {
	float:left;
	width:31%;
}

#stacks_in_34_page0 .stacks_right {
	float:right;
	width:31%;
}

#stacks_in_34_page0 .stacks_middle {
	position:relative;
	margin:0 auto;
	width:34%;
}
#stacks_in_36_page0 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_39_page0 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_in_42_page0 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}

#stacks_out_34_page0 {
	width: 90%;
}

#stacks_in_34_page0 {
	padding: 2px 2px 2px 2px;
}

#stacks_out_22_page0 {
	width: 90%;
}

#stacks_in_22_page0 {
	margin: 2px 2px 2px 2px;
	padding: 5px 5px 5px 5px;
}
